<div class="flex flex-col-reverse flex-no-wrap sm:flex-row items-center justify-around text-2xl bg-gray-300">
    <div class="ml-10">
      <div class="pt-5 text-3xl text-teal-600">
        {{@title}}
      </div>
      <div class="w-64 text-blue-500 text-xs uppercase font-semibold tracking-wide">
        {{@subtitle}}
      </div>
      <div class="pb-5 pt-3">
        <a href="#" class="p-2 rounded-full bg-red-600 text-white text-xs uppercase">explore</a>
      </div>
    </div>
    <div>
      <img class="rounded-full m-10 shadow-2xl" src="/assets/{{@image}}" />
    </div>
</div>
